{% extends "base.html" %}

{% load static %}

{% block  content %}

<div class="container mt-4">

<div class="row">
  <div class="col-md-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Expense</li>
      </ol>
  </nav>
  </div>
  <div class="col-md-2">
    <a href="{% url 'expense-delete' expense.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>


    <div class="card">
      <div class="cardbody">
        <form action="{% url 'expense_edit' expense.id %}" method="POST"> <!--burada url addexpense olsa add-->
            {% for message in messages %}
            <div class="container-fluid p-0">
              <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
              </div>
            </div>
            {% endfor %}
          {% csrf_token %}
        <div class="form-group">
          <label for="">Amount</label>
          <input class="form-control form-control-sm" type="number" value="{{values.amount}}" name="amount" >
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input class="form-control form-control-sm" type="text" value="{{values.description}}" name="description" >
        </div>
        <div class="form-group">
          <label for="">Category</label>
          <select class="form-control" name="category" id="">
            {% for i in categories %}
            <option value="{{i.name}}" name="category">{{i.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Date of expense</label>
          <input class=" form-control form-control-sm" type="date" name="expense_date" >
        </div>
        <input type="submit" value="Save" class="btn btn-primary">
      </form>
      </div>
    </div>

</div>

{% endblock  %}